<app-header></app-header>
<div class="well">
  <div class="page-header">
    <h1>Web-Based Interactive Text Line Segmentation [two students full load (100%)]
      <small>This environment is part of the previous project (web-base document image processing tools). It starts by loading an image and providing several tools to segment the page into text lines in an interactive manner. The tools is, conceptually, divided into two categories: scribbles and corrections. The scribbles set allow the user to draw a scribble that determine the line orientation, which is used to determine the orientation of the Gabor filters (which is a set of filters at different frequencies, but the same oreinations). . In case the user would like to refine or correct the segmentation, the second set should provide provide this. The Gabor filter part is defines according to the <a href="https://www.cs.bgu.ac.il/~tiip171/wiki.files/InteractiveSegmentation.pdf">paper.</a></small></h1>
  </div>
</div>
<div class="alert alert-danger alert-dismissible" role="alert"><strong>WARNING!</strong> Did not implement this yet.</div>
